<template lang="pug">
  .accomodation
    .accomodation-image(:class="{bordered: !featuredPhoto}")
      i.fa.fa-camera-retro(v-if="!featuredPhoto")
      .accomodation-image-inner(
        :style="{backgroundImage: `url('${featuredPhoto}')`}",
      )
    .accomodation-content
      h5.accomodation-title {{room.title}}
      .row
        .col-md-6
          b Maximum Occupancy
          div {{maxGuests}} guests
        .col-md-6
          b Minimum Stay
          div {{minLos}} Night(s)
      .only-left(v-if="rates[selectedRate].num_available_now < 6") Only {{rates[selectedRate].num_available_now}} left
      .rates
        .rates-small-label.text-right Price From
        .rate-selection(v-for="(rate, index) in rates")
          .form-check
            input.form-check-input(
              :value="index",
              v-model="selectedRate",
              type="radio",
              :id="`rate-${rate.rate_id}`",
            )
            label.form-check-label(:for="`rate-${rate.rate_id}`")
              | {{rate.is_package ? rate.package_name : 'Standart rate'}}
          span.rate-price {{rate.rateMinPriceFormated}}
      hr
      .row
        .col-md-12
          RoomsDropdown(
            :roomsCount="rates[selectedRate].num_available_now",
            :selectedRoomsByRate="selectedRoomsByRate",
            @selectRooms="setSelectedRooms")
</template>

<script>
  import RoomsDropdown from './RoomsDropdown';

  export default {
    components: {
      RoomsDropdown,
    },
    props: {
      room: { type: Object, default: () => ({}) },
    },
    data() {
      return {
        selectedRate: 0,
        selectedRooms: [],
      };
    },
    computed: {
      rates() {
        return this.room.rates || [];
      },
      maxGuests() {
        return this.rates[this.selectedRate].max_guests;
      },
      minLos() {
        return this.rates[this.selectedRate].los_min;
      },
      featuredPhoto() {
        const firstRate = this.rates[0] || {};
        return firstRate.featured_photo_big || '';
      },
      availableRoomsCount() {
        return this.room.num_available_now || 0;
      },
      selectedRoomsByRate() {
        return this.selectedRooms[this.selectedRate] || 0;
      },
    },
    methods: {
      setSelectedRooms(selectedRoomsCount) {
        this.$set(this.selectedRooms, `${this.selectedRate}`, selectedRoomsCount);
        const selectedTotal = this.selectedRooms.reduce((total, roomsCount, index) => {
          const selectedRomsByRateInfo = {
            count: roomsCount,
            price: this.room.rates[index].rateMinPrice * roomsCount,
            indexInRatesList: index,
          };

          total[index] = selectedRomsByRateInfo;

          return total;
        }, []);
        this.$emit('updateSelectedRooms', selectedTotal);
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .accomodation
    position relative
    display flex
    background #fff
    margin 20px 0
    padding 15px
    box-shadow 0px 8px 11px -8px rgba(0,0,0,0.65)

    &-image
      width 40.8%
      margin 0 18px 10px 0
      flex-shrink 0
      background #efefef
      position relative
      &.bordered
        border 3px dashed #999

      > i
        font-size 4rem
        position absolute
        color #8b8585
        top 0
        left 0
        right 0
        bottom 0
        margin auto
        width 69px
        height 64px

      &-inner
        width 100%
        padding-top 75%
        background-repeat no-repeat
        background-size cover
        background-position center

    &-content
      flex-grow 1
      b
        font-weight bold

    .rates
      input[type="radio"]
        cursor pointer
      label.form-check-label
        cursor pointer
        font-size 1rem
        font-weight 500

    .rates-small-label
      font-size .7rem
      font-weight 600

    .rate-selection
      display flex
      .form-check
        flex-grow 1
      .rate-price
        font-size 1rem
        font-weight 600
    .only-left
      position: absolute;
      top: 1rem;
      right: 0;
      background: #444;
      color: #fff;
      padding: 3px 5px;
      font-weight: 500;
  .roms-wrap:after
    content ""
    display table

  @media (max-width: 768px)
    .accomodation
      display block

      &-image
        width 100%
</style>
