<template lang="pug">
  div
    .calendar-widget
      Search(:searchButtonText="searchButtonText", :propertyId="propertyId", @getRoomsList="getRoomsList")
    .container(v-if="rooms.length")
      Steps(v-if="currentStep > -1", :currentStep="currentStep")
      .row(v-if="!isCompleteReservationViewActive")
        .col-md-9
          Accomodation(
            v-for="(room, index) in rooms",
            v-if="room.rates.length",
            @updateSelectedRooms="updateSelectedRooms($event, index)",
            :room="room",
          )
        .col-md-3
          ShoppingCart(:total="total", @bookNow="completeReservation")
      CompleteReservation(
        v-if="isCompleteReservationViewActive",
        :summary="reservationSummary",
        @submit="currentStep = 2"
        @close="finishReservation",
      )
</template>

<script>
  import Search from './Search';
  import Accomodation from './Accomodation';
  import ShoppingCart from './ShoppingCart';
  import CompleteReservation from './CompleteReservation';
  import Steps from './Steps';
  import { formatCurrency } from '../helpers/currencyHelpers';

  export default {
    components: {
      Search,
      Accomodation,
      ShoppingCart,
      CompleteReservation,
      Steps,
    },
    props: {
      propertyId: { type: Number, default: 1 },
      searchButtonText: { type: String, default: 'Submit' },
    },
    data() {
      return {
        rooms: [],
        dates: {},
        dropdown: { height: 0 },
        totalSelectedRooms: [],
        isCompleteReservationViewActive: false,
        reservationSummary: {},
        currentStep: -1,
      };
    },
    computed: {
      total() {
        const totalInfo = {
          totalSelectedRooms: 0,
          totalPrice: 0,
        };

        this.totalSelectedRooms.forEach((roomType) => {
          roomType.forEach((rateTotals) => {
            totalInfo.totalSelectedRooms += rateTotals.count;
            totalInfo.totalPrice += rateTotals.price;
          });
        });

        totalInfo.formatedPrice = formatCurrency(totalInfo.totalPrice, true);

        return totalInfo;
      },
    },
    methods: {
      getRoomsList(value) {
        this.currentStep = 0;
        this.rooms = value.rooms;
        this.dates = value.dates;
      },
      updateSelectedRooms(selectedRooms, index) {
        this.$set(this.totalSelectedRooms, index, selectedRooms);
      },
      completeReservation() {
        const seletedRoomsSummary = [];
        this.totalSelectedRooms.forEach((roomType, roomTypeIndex) => {
          roomType.forEach((room) => {
            seletedRoomsSummary.push({
              title: this.rooms[roomTypeIndex].rates[room.indexInRatesList].room_type_title,
              count: room.count,
              price: room.price,
            });
          });
        });
        this.reservationSummary = {
          ...this.dates,
          rooms: seletedRoomsSummary,
        };
        this.isCompleteReservationViewActive = true;
        this.currentStep = 1;
      },
      finishReservation() {
        this.rooms = [];
        this.totalSelectedRooms = [];
        this.isCompleteReservationViewActive = false;
        this.reservationSummary = {};
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .calendar-widget
    background #fff
    margin 0 auto 50px
    padding 40px 0 40px 50px
    max-width 550px
    border 1px solid #e4e4e4
    box-shadow 0px 8px 11px -8px rgba(0,0,0,0.65)
  .search-filters
    display flex
    max-width 400px

  @media (max-width: 768px)
    .calendar-widget
      padding 40px
      text-align center

  @media (max-width: 576px)
    .calendar-widget
      max-width 100%
      margin 0 15px 50px
</style>
