<template lang="pug">
  .complete-reservarvation
    .complete-reservarvation-inner
      .row
        .col-md-9
          template(v-if="!isReservationCompleted")
            .form-row
              .form-group.col-md-6
                label(for="firstName") First Name
                input#firstName.form-control(type="email" placeholder="First Name")
              .form-group.col-md-6
                label(for="lastName") Last Name
                input#lastName.form-control(type="password" placeholder="Last Name")
              .form-group.col-md-6
                label(for="inputEmail4") Email
                input#inputEmail4.form-control(type="email" placeholder="Email")
              .form-group.col-md-6
                label(for="inputPassword4") Password
                input#inputPassword4.form-control(type="password" placeholder="Password")
              .form-group.col-md-6
                select.custom-select
                  option(value="USA") USA
                  option(value="Ukraine") Ukraine
                  option(value="Brasil") Brasil
                  option(value="Germany") Germany
            .form-group
              .form-check
                input#terms.form-check-input(type='checkbox', v-model="isTermsAgreed")
                label.form-check-label(for='terms')
                  | I aggree with Terms
            button.btn.btn-primary.btn-lg.text-uppercase(
              @click="submit",
              :disabled="!isTermsAgreed",
            ) Complete Reservation
          .success-message.text-center(v-if="isReservationCompleted")
            h1 Reservation completed successfully!
            .btn.btn-primary.mt-1(@click="close") Close
        .col-md-3
          h2 Your Reservation:
          hr
          label Room Selections:

          template(v-for="room in summary.rooms")
            h6.mb-0 {{room.title}} (x{{room.count}})
            div.mb-2 Adults: 1 Children: 0
          div.mb-2

          label.mb-0 Arrival Date:
          div.mb-1 {{summary.checkin}}
          label.mb-0 Departure Date:
          div.mb-1 {{summary.checkout}}
          label.mb-0 Room Nights:
          div.mb-1 {{summary.nightsCount}}
          hr

          label Room Total:
          span  {{total}}
          div.mb-1
          label Extra Adult (x0):
          span  {{extraGuests}}
          div.mb-1
          label Extra Child(ren) (x0):
          span  {{extraGuests}}
          div.mb-1
          hr

          label Grand Total:
          span  {{total}}
          hr

          label Advance Amount:
          span  {{total}}
          hr
</template>

<script>
  import { formatCurrency } from '../helpers/currencyHelpers';

  export default {
    props: {
      summary: { type: Object, default: () => ({}) },
    },
    data() {
      return {
        isTermsAgreed: false,
        isReservationCompleted: false,
      };
    },
    computed: {
      total() {
        const roomsTotals = this.summary.rooms || [];
        const totalPrice = roomsTotals.reduce((total, roomInfo) => {
          total += roomInfo.price;
          return total;
        }, 0);

        return formatCurrency(totalPrice, true);
      },
      extraGuests() {
        return formatCurrency(0, true);
      },
    },
    methods: {
      submit() {
        this.$emit('submit');
        this.isReservationCompleted = true;
      },
      close() {
        this.$emit('close');
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .complete-reservarvation
    padding 20px 0

    &-inner
      background #fff
      padding 20px 10px

      input[type="checkbox"]
        margin-top 2px
</style>
