<template lang="pug">
  .pull-right.text-center
    .rates-small-label Rooms
    select.custom-select(@change="$emit('selectRooms', +$event.target.value)")
      option(value="0") 0
      option(v-for="value in roomsCount", :value="value", :selected="value === selectedRoomsByRate") {{value}}
</template>

<script>
  export default {
    props: {
      roomsCount: { type: Number, default: 0 },
      selectedRoomsByRate: { type: Number, default: 0 },
    },
  };
</script>

<style lang="stylus" scoped>
 .custom-select
  min-width 60px
</style>
