<template lang="pug">
  .form-row
    .col-md-8
      label(for='validationCustom01') Select Check-in / Check-out date
      flatPickr.calendar(v-model="date",
        @on-change="onDateChange", :config="datePickerconfig", placeholder="Select a date", name="birthdate")
    .col-md-4
      label(for='validationCustom02') &nbsp;
      div.btn-wrapper
        button.btn.btn-primary.btn-lg.text-uppercase(@click="submit")
          span {{searchButtonText}}
        span.loader(v-if="isActiveLoader")
</template>

<script>
  import flatPickr from 'vue-flatpickr-component';
  import 'flatpickr/dist/flatpickr.css';
  import * as dayjs from 'dayjs';
  import { formatCurrency } from '../helpers/currencyHelpers';

  export default {
    components: {
      flatPickr,
    },
    props: {
      searchButtonText: { type: String, default: 'Submit' },
      propertyId: { type: Number, default: 1 },
    },
    data() {
      const tomorrow = new Date(new Date().setDate(new Date().getDate() + 1));
      return {
        date: null,
        isActiveLoader: false,
        datePickerconfig: {
          altFormat: 'd/m/Y',
          altInput: true,
          mode: 'range',
          minDate: 'today',
          defaultDate: [new Date(), tomorrow],
        },
        checkin: new Date(),
        checkout: tomorrow,
      };
    },
    methods: {
      submit() {
        this.isActiveLoader = true;
        const checkinDateString = this.checkin.toISOString().slice(0, 10);
        const checkoutDateString = this.checkout.toISOString().slice(0, 10);
        const corsAnywhereUrl = 'https://cors-anywhere.herokuapp.com';
        const url = 'https://hotels.mfd-devbox-booking-widget-3250.cloudbeds-dev.com';
        const endpoint = 'room_types/find';

        const formData = new FormData();

        formData.append('checkin', checkinDateString);
        formData.append('checkout', checkoutDateString);
        formData.append('property_id', this.propertyId);
        formData.append('lang', 'en');

        fetch(`${corsAnywhereUrl}/${url}/${endpoint}`, {
          method: 'POST',
          body: formData,
          // mode: 'no-cors',
          // headers: {
          //   // 'Content-Type': 'application/json',
          //   // 'Content-Type': 'application/x-www-form-urlencoded',
          //   'Access-Control-Allow-Origin': 'https://hotels.mfd-devbox-booking-widget-3250.cloudbeds-dev.com',
          //   'Origin': 'https://hotels.mfd-devbox-booking-widget-3250.cloudbeds-dev.com',
          // },
        })
          .then(response => response.json())
          .then((json) => {
            const diffTime = Math.abs(this.checkout - this.checkin);
            const nightsCount = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            const dates = {
              checkin: dayjs(this.checkin).format('DD/MM/YYYY'),
              checkout: dayjs(this.checkout).format('DD/MM/YYYY'),
              nightsCount,
            };
            const rooms = this.cleanifyRoomsList(json.data);

            this.$emit('getRoomsList', { rooms, dates });
            this.isActiveLoader = false;
          })
          .catch((error) => {
            console.error(error);
          });
      },
      onDateChange(date) {
        if (date.length > 1) {
          this.checkin = date[0];
          this.checkout = date[1];
        }
      },
      cleanifyRoomsList(rawData) {
        const currencyRate = rawData.currency_rate || 0;
        const accommodationTypes = rawData.accomodation_types;

        accommodationTypes.forEach((roomType) => {
          roomType.rates.forEach((rate, index) => {
            roomType.rates[index].rateMinPrice = rate.rate_min * currencyRate;
            roomType.rates[index].rateMinPriceFormated = formatCurrency(rate.rateMinPrice, true);
          });
        });

        return accommodationTypes;
      },
    },
  };
</script>

<style lang="stylus" scoped>
  button.btn
    padding .3rem 1rem
  .btn-wrapper
    position relative
  // spinner
  .loader,
  .loader:before,
  .loader:after
    display block
    background #68c6ba
    animation load1 1s infinite ease-in-out
    width .4rem
    height 1rem

  .loader
    color #68c6ba
    text-indent -9999rem
    position absolute
    right 1.7rem
    top 1rem
    font-size 11px
    transform translateZ(0)
    animation-delay -0.16s
    &:before
      left -.6rem
      animation-delay -0.32s
    &:after
      left .6rem

  .loader:before,
  .loader:after
    position absolute
    top 0
    content ''

  @keyframes load1
    0%,
    80%,
    100%
      box-shadow 0 0
      height 1rem
    40%
      box-shadow 0 -1rem
      height 1.3rem

  @media (max-width: 768px)
    .form-row
      >>> input.calendar
        text-align center

    .loader
      top auto
      bottom -36px
      left 0
      right 0
      margin auto
</style>
