<template lang="pug">
  .cart
    .cart-inner
      .total-count.text-center(v-if="total.totalSelectedRooms")
        b {{total.totalSelectedRooms}}
        |  Accommodation(s) for
      .total-price.text-center(v-if="total.totalPrice") {{total.formatedPrice}}
      button.book-btn.btn.btn-lg.btn-success.text-uppercase(
        @click="bookNow",
        :disabled="!total.totalSelectedRooms",
      ) Book Now
</template>

<script>
  export default {
    props: {
      total: { type: Object, default: () => ({}) },
    },
    data() {
      return {
      };
    },
    methods: {
      bookNow() {
        this.$emit('bookNow');
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .cart
    padding 20px 0
    height 100%
    display flex
    &-inner
      background #fff
      padding 15px
      width 100%
      box-shadow 0px 8px 11px -8px rgba(0,0,0,0.65)
      .book-btn
        display block
        width 100%
        margin-bottom 15px

  .total-count
    font-size 1rem
    b
      font-weight 600

  .total-price
    font-size 1.4rem
    font-weight 600
</style>
