<template lang="pug">
  div.steps-wrap
    ul.steps
      li(v-for="(step, index) in steps", :class="{ active: currentStep >= index}")
        a
          i.fa.fa-check.mr-1(v-if="currentStep > index || currentStep === 2")
          | {{step}}
</template>

<script>
  export default {
    props: {
      currentStep: { type: Number, default: 0 },
    },
    created() {
      this.steps = [
        'Choose a room',
        'Checkout',
        'Success',
      ];
    },
  };
</script>

<style lang="stylus" scoped>
  .steps-wrap
    padding 30px 0 0
  .steps
    list-style-type none
    padding 10px 20px 10px 10px
    background #fff
    display flex
    margin 0
    li
      flex-grow 1
      margin-bottom 0

  .steps li a
    background #d3d3d3
    padding 8px 20px
    color #fff !important
    display block
    font-size 14px
    font-weight bold
    text-indent 12px
    position relative

  .steps li a:hover
    text-decoration none

  .steps li a:before,
  .steps li a:after {
    content ""
    position absolute
    border-style solid
    height 0
    width 0
    margin-top -18px
  }

  .steps li a:before
    border-width 18px 0 18px 16px
    border-color transparent transparent transparent #fff
    left 0
    top 50%

  .steps li:first-child a:before
    border none

  .steps li a:after
    border-width 18px 0 18px 12px
    border-color transparent transparent transparent #d3d3d3
    right -12px
    top 50%
    z-index 1

  .steps li.active a
    background #12234e

  .steps li.active a:after
    border-color transparent transparent transparent #12234e

  @media (max-width: 576px)
    .steps
      display block
      li
        a
          &:before
            display none
          &:after
            right 0
            top auto
            bottom -10px
            left 0
            margin auto
            border-style solid
            border-width 10px 20px 0 20px !important
            border-color #d3d3d3 transparent transparent transparent
          i
            position absolute
            left 0
            top 12px
        &.active
          a
            &:after
              border-left 12px solid #12234e
              border-color #12234e transparent transparent transparent
        &:last-child
            a:after
              display none
</style>
