<template lang="pug">
  .list
    .container
      ul.media-list
        li.media(v-for="(user, index) in users" :key="user.id")
          img.media-object.mr-3(src="https://via.placeholder.com/64")
          .media-body
            h5 {{user.name}}
            p email: {{user.email}}
            p phone: {{user.phone}}
            a.btn.btn-success.btn-sm.mb5(@click="$emit('showUserInfo', index)") Show
</template>

<script>
  export default {
    props: {
      users: { type: Array, default: () => [] },
    },
  };
</script>

<style lang="stylus" scoped>
  .list
    background #fff
    padding 50px 0
  .media
    margin-bottom 10px
    p
      margin 0
</style>
